<div class="footer-aromaforest">
    <div class="footer-logo-container">
        <img class="footer-logo" src="{{ asset('assets/images/af_logo_white.png') }}" width="200" height="93" alt="Logo Aroma forest">
    </div>
    <div class="footer-body">
        <ul class="footer-actions ">
            <li class="footer-action-item "><a class="text-white" href="https://pixelsior.fr/">Copyright Pixelsior <span id="copyright_year">{{ 'now' | date('Y') }}</span></a></li>
            <li class="footer-action-item "><a class="text-white" href="{{ path('app_legal_notice') }}" target="_blank" >Mention légales</a></li>
            <li class="footer-action-item "><a class="text-white" href="{{ path('app_condition_generale_vente') }}" target="_blank">Conditions générales de ventes</a></li>

        </ul>
    </div>
    </div>
</div>