@media (min-width:1800px){
    .owl-carousel .owl-item img {
        width: auto;
    }
}
@media (min-width: 1560px){
    .banniere-img{
        right: 9%;
        width: 55% !important;
    }
}
@media (min-width: 900px){
    .banner-text{
        flex: 0 0 auto !important;
        width: 50% !important;
    }
}
@media (max-width: 900px){
    .bnr_img_show-mobile{
        display: block !important;
        position: relative;
        right: 13%;
    }
    .banniere-img{
        display: none !important;
    }
}