{% extends 'base.html.twig' %}

{% block title %}Mentions légales Toby Wallet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
   
	<section id="legale-notice" class="feature-section section-padding position-relative">
		<div class="container">
			<img src="assets/images/Formes%20animées/Ellipse 1 copy 5.png" class="img-anime1-feature2" alt="">
			{# <img src="assets/images/Formes%20animées/Triangle 1.png" class="img-anime2-feature2" alt=""> #}
			<img src="assets/images/Formes%20animées/Ellipse 1 copy 5.png" class="img-anime3-feature2" alt="">
			<img src="assets/images/Formes%20animées/Ellipse 1 copy.png" class="img-anime4-feature2" alt="">
			<h1 class="section-title text-center text-uppercase fw-bolder mt-5  wow fadeInUp" data-wow-delay="0.2s">
				 Mentions légales : <span class="text-primary">TOBY WALLET</span>
			</h1>
			<div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-diamond"></i></div>

			<div class="legale-notice-content p-xl-5 p-3">
				<div class="legale-notice-subsection">
					<h4 class="fs-22 text-uppercase">Identification :</h4>
					Raison sociale : PIXELSIOR</br>
					186, Rue de Billancourt</br>
					92100 Boulogne- Billancourt</br>
					France</br>
					Tél: + 33 7 79 54 27 76</br>
					Email: <a href="https://pixelsior.fr">https://pixelsior.fr</a></br>
					Site web: <a href="https://tunnel-toby.lecole2022.fr">https://tunnel-toby.lecole2022.fr</a></br></br>
					<p>Ce site a été créé, édité et animé par la société de Pixelsior, qui en assure également l’hébergement et la maintenance.</p>
				</div>
				<div class="legale-notice-subsection">
					<h4 class="fs-22 text-uppercase">Protection des données personnelles :</h4>
					<p>La société PIXELSIOR s’engage à protéger la confidentialité des données personnelles fournies par les visiteurs du site TOBY WALLET et ne pas transmettre ces dites informations à des tiers.</p>
					<p>Les données personnelles sont fournies consentement par les utilisateurs en toute connaissance de cause lors de leur enregistrement sur le Site TOBY WALLET. Aucune autre données n’est nécessairement demandée lors de toutes demandes quelconques de renseignement autre que celles à la satisfaction d’une requête.</p>
					<p>TOBY WALLET utilise ces données d’identification dans le but de répondre aux questions et aux commentaires formulés par l’utilisateur du Site Web ou afin de satisfaire une quelconque requête émise par l’utilisateur. Par ailleurs, TOBY WALLET peut utiliser les données nominatives de ses visiteurs pour leur envoyer ultérieurement des informations relatives à des publications, des produits ou des services susceptibles de les intéresser.</p>
					<p>De telles informations sont conservées de manière rigoureuse et sécurisée. L’accès aux données est strictement limité au personnel autorisé de TOBY WALLET, à titre exclusif, notamment dans le but de connaître ses clients et de mieux les servir.</p>
					<p>NOTRE PRIORITE ABSOLUE DEMEURE LA PROTECTION DES DONNÉES UTILISATEURS ET CLIENTS. STOCKÉES EN TOUTE SECURITE, AUCUNE INFORMATION NE PEUT ÊTRE TRANSMISE SANS L’ACCORD AU PRÉALABLE DES TIERS GÉRANTS, AUQUEL VOUS POUVEZ AVOIR SOUSCRIT. LES DONNÉES SONT TRAITÉES LOYALEMENT ET UTILISÉES UNIQUEMENT AUX FINS EXPOSÉES CI-DESSUS.</p>
					<p>
						TOBY WALLET n’utilise, à titre personnel, les données utilisateurs, c’est-à-dire que le site ne vend, ne loue ni ne rend disponible à aucun tiers, de quelque façon que ce soit, les données personnelles fournies par les visiteurs de son Site Web. Sur votre demande, TOBY WALLET peut se  voir supprimer de sa base de données vos informations personnelles et annuler de ce fait votre enregistrement. En outre, sur demande, les visiteurs enregistrés peuvent accéder à leurs données personnelles enregistrées et corriger toute information erronée. Toute demande concernant les données personnelles doit être adressée à :</br></br>
						TOBY WALLET</br>
						Service Marketing / Internet</br>
						186, Rue de Billancourt</br>
						92100 Boulogne- Billancourt</br>
						France</br>
						Tél: + 33 7 79 54 27 76</br>
						Email: <a href="https://pixelsior.fr">https://pixelsior.fr</a></br>
						Site web: <a href="https://tunnel-toby.lecole2022.fr">https://tunnel-toby.lecole2022.fr</a></br></br>
					</p>
					<p>Nous souhaitons, par cette déclaration de confidentialité, vous rassurer sur notre engagement et au respect de la vie privée de nos visiteurs.</p>
				</div>
				<div class="legale-notice-subsection">
					<h4 class="fs-22 text-uppercase">Propriété intellectuelle :</h4>
					<p>En vous connectant sur le site Internet édité par la société PIXELSIOR, titulaire de l’ensemble des droits de propriété intellectuelle s’y rapportant, vous ne pouvez pas copier ni télécharger l’ensemble ou une partie de son contenu, sauf autorisation préalable et exprès de notre part.</p>
					<p>Le présent site est la propriété de PIXELSIOR, auteur au sens du règlement en vigueur et suivants du Code de la propriété intellectuelle. Tout type de contenu, soit les photographies, textes, slogans, dessins, images, séquences animées sonores ou non ainsi que toutes œuvres intégrées dans le site sont la propriété de TOBY WALLET ou de tiers ayant autorisé TOBY WALLET à les utiliser.</p>
					<p>Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables (logos, photos, informations de toute nature ou autre). Les documents à télécharger sont également protégés par le droit d’auteur. Les limites de l’utilisation de ces documents sont précisées sur les pages du site concernées.</p>
					<p>Toute représentation totale ou partielle du site, par quelque société que ce soit, sans l’autorisation express de la société TOBY WALLET – Service marketing, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Il en est de même, s’il y a lieu, des informations se trouvant dans les bases de données figurant sur le site, qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données. De même, tout enregistrement, radiodiffusion, traduction et adaptation, totale ou partielle du site, est interdit.</p>
				</div>
				<div class="legale-notice-subsection">
					<h4 class="fs-22 text-uppercase">Droit applicable :</h4>
					<p>Les présentes Conditions Générales sont soumises à la règlementation du droit interne français. La langue des Conditions Générales est la langue française. En cas de litige, les tribunaux français seront seuls compétents.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = () => {
            new WOW().init();
        };
        
    </script>
{% endblock %}
