:root{
    --color-white-aroma: #FFFFFF;
    --color-white-2-aroma: #EEEEEE;
    --color-green-aroma: #577364;
    --color-pink-aroma: #BF746B;
}

h2{
    font-weight: 700;
    display: inline-block;
    font-size: 30px;
    line-height: 38px;
    color: var(--color-green-aroma);
}

@media (max-width: 400px) {
    h2, .as-h2{
        font-size: 20px;
        /* word-break: break-word; */
    }
    .section-home-3 .h3-in-grande-ligne{
        font-size: 16px;
        line-height: 19px;
    }
}

.font-green{
    color : var(--color-green-aroma);
}
.font-pink{
    color : var(--color-pink-aroma);
}
.font-black{
    color: black;
}


.p-title-bold-700 {
    font-weight: 700;
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
}

.under-banner .block-col-under-banner{
    padding: 3% 16% !important;
}

.amount-fw-bold{
    font-weight: 700;
    color: var(--color-pink-aroma);
    font-size: 70px;
}

section{
    margin: 50px 0;
}

.section-home-banner{
    margin: -2px 0;
}

.section-home-banner .slider_content a{
    line-height: 41px;
}

@media (max-width: 750px) {
    .section-home-banner .slider_content {
        padding: 23px 25px;
    }
}

.section-home-2{
    padding: 0 15%;
}

.section-home-3 {
    padding-left: 2%;
    padding-right: 2%;
}
.section-home-3 .block-col-section-3{
    padding: 3% 9% ;
}
.section-home-3 .sec-3-grande-ligne{
    line-height: 1.3em;
}


ul li::before{
    content: "\2022";
    color: var(--color-pink-aroma);;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 23px;
}
ul li{
    margin-left: 50px;
}
ul li{
    list-style: none;
}


/* Container holding the image and the text */
.lemur-home {
    position: relative;
    text-align: center;
}
  

/* Top left text */
.text-inner-img-lemur-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-inner-img-lemur-home p{
    color: white !important;
}
.text-inner-img-lemur-home #title-amount {
    letter-spacing: 0.2rem;
    line-height: 1.4 !important;
    font-size: 22px !important;
}

.text-inner-img-lemur-home #amount {
    font-size: 70px !important;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 40px;
}
.text-inner-img-lemur-home a.btn-I-order{
    padding: 0 13%;
 }



@media (min-width: 1000px) {
    /* .text-inner-img-lemur-home {
        top: 83px;
    } */
    .text-inner-img-lemur-home #title-amount {
        font-size: 30px !important;
    }
    .text-inner-img-lemur-home #amount {
        font-size: 80px;
        margin-bottom: 63px;
        margin-top: 63px;
    }
}
@media (min-width: 1300px) {
    .text-inner-img-lemur-home #title-amount {
        font-size: 56px !important;
    }
    .text-inner-img-lemur-home #amount {
        font-size: 139px;
        margin-bottom: 60px;
        margin-top: 60px;
    }
}


@media (max-width: 800px) {
    .text-inner-img-lemur-home #title-amount {
        margin-bottom: 32px;
    }
    .text-inner-img-lemur-home #amount {
        margin-bottom: 42px;
        margin-top: 42px;
        font-size: 40px !important;
    }

}
@media (max-width: 750px) {
    .text-inner-img-lemur-home #title-amount {
        font-size: 25px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 580px) {
    .text-inner-img-lemur-home .button{
        font-size: .875rem;
    }
    .text-inner-img-lemur-home #title-amount {
        font-size: 25px !important;
    }
    .text-inner-img-lemur-home #amount {
        font-size: 25px;
    }

    .text-inner-img-lemur-home a.btn-I-order{
        padding: 0 6%;
    }

    h1 {
        font-size: 2.2em !important;
        line-height: 1.3em !important;
    }

    .section-home-banner {
        height: 63%;
    }

    .section-home-banner .slider_area,
    .section-home-banner .owl-stage-outer,
    .section-home-banner .owl-stage,
    .section-home-banner .owl-item,
    .section-home-banner .single_slider
    {
        height: 100%
    }

    .single_slider {
        background-size: cover !important;
        background-position: bottom !important;
    }
    .single_slider p {
        font-size: 1.2em !important;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        line-height: 1.5em;
    }
}
@media (max-width: 344px) {
    .text-inner-img-lemur-home #title-amount {
        font-size: 17px !important;
    }
    .text-inner-img-lemur-home #amount {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


.container .section-home-5, .section-home-6{
    padding: 0 5%;
    margin: 5% 0;
}
.section-home-5  .text-description-left{
    padding-right: 5%;
}
@media (max-width : 860px) {
    .section-home-5  .text-description-left{
        padding-bottom: 10%;
    }
}
.section-home-5 h3{
    font-size: 23px;
}
.section-home-5 p{
    line-height: 1.4em;
}
.section-home-5 .step-aroma p{
    font-size: 14px !important;
    line-height: 1.6em !important;
}
.section-home-5 .icon-step{
    min-height: 33%;
}
@media (max-width : 860px) {
    .section-home-5 .icon-step{
        min-height: 20%;
    }
}


.section-home-6 p.aromaforest-under-who-are{
    font-size: x-large;
}

@media (max-width : 860px) {
    section{
        margin-bottom: 10% !important;
    }
}

.section-home-7, .section-home-8{
    /*padding: 0 12%;*/
    margin: 5% 0;
}

.section-home-7 .title-as-h2{
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1rem;
}
.section-home-7 .row{
    --bs-gutter-x: 0rem;
}

.section-home-8{
    margin: 1px 0;
    background-color: #EEEEEE;
}
.section-home-8 .testimonial-text{
    padding: 22% 0;
}

.section-home-8 .testimonial-text-col{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-home-8 .testimonial-photo{
    padding: 50px 0;
}
@media (max-width: 768px) {
    .section-home-8 .testimonial-text{
        padding: 5px 0;
    } 
    .section-home-8 .testimonial-photo{
        padding: 5px 0;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }
    .single_slider p {
        font-size: 0.9em !important;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        line-height: 1.5em;
    }
}
